.banner {
background-image: url("../images/background/pollution.jpg");
background-size : cover;
background-repeat : no-repeat;
text-align : center;
background-attachment: fixed;
top : 50px;
height : 300px;
padding-top : 175px;
}
.container {
    height: 700px;

}
.left, .right {
    width: 40%;
    float: left;
    margin: 50px;
}
#globalwarmingquote{
	font-family: Century Gothic;
	font-size: 30px;
}
#globalwarmingtitle1{
	font-family: Arial Black;
	font-size: 30px;
}
#globalwarmingmeaning{
	font-family: Calibri;
	font-size: 20px;
}
#globalwarmingcauses{
	font-family: Arial Black;
	font-size: 30px;
}
ul{
	font-family: Calibri;
	font-size: 20px;
}
#globalwarmingsolutions{
	font-family: Arial Black;
	font-size: 30px;
}
#globalwarmingarticle1{
	font-family: Arial Black;
	font-size: 30px;
}
#dryforest{
	font-family: Century Gothic;
	font-size: 20px;
}
#globalwarmingparam1{
	font-family: Calibri;
	font-size: 20px;
}
#globalwarmingarticle2{
	font-family: Century Gothic;
	font-size: 20px;
}
#globalwarmingparam2{
	font-family: Calibri;
	font-size: 20px;
}
#globalwarmingarticle3{
	font-family: Century Gothic;
	font-size: 20px;
}
#globalwarmingparam3{
	font-family: Calibri;
	font-size: 20px;
}

