.banner {
text-align : center;
height : auto;
background-color:  black;
margin: 80px 100px 20px 200px;
padding: 20px;
box-shadow: 10px 10px 5px #888888;
}

.container {
	background-color: white;
	margin: 10px 200px;
}

.protect, .promote, .educate {
	float: left;
	clear: both;
}

.protect img, .promote img, .educate img {
	height : 180px;
}


.content-top {
	clear :both;
	padding :50px 50px 0 50px;
}

.content-top h1{
	text-align: center;
}

.container {
    padding: 50px 50px;
    line-height: 1.2;
}

.leftform, .rightform {
    width: 40%;
    float: left;
}

.firstbatch {
	column-count: 3;
}

.secondbatch {
	column-count: 2;
}

.gallery1, .gallery2, .gallery3 {
	column-count: 3;
}
.pictures {
	height : 350px;
	width : 400px;
	margin-bottom: 50px;
	text-align: center;
}
.pictures:hover  {
	cursor: pointer;
	-moz-box-shadow: 0 0 10px #ccc; 
	-webkit-box-shadow: 0 0 10px #ccc; 
	box-shadow: 0 0 10px #ccc;
}
.pictures:hover img {
	-moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
.content-gallery h3 {
	width : 100%;
	margin-top: 20px;
	margin-bottom: 50px;
	background-color: green;
	color: white;
	text-align: center;
	padding: 5px 0;
}

.gallery-top * {
	text-align: center;
}

#galleryheader2 {
	padding-top: 50px;
}

.content-top h1, h2{
	text-align: center;
}

.content-top p {
	text-align: justify;
}

.main-container img {
	float : left;
	padding: 0 50px 50px 0;

}

.aboutcontent {
	float: left;
	width: 33%;
}

.start-last-row {
	float: left; 
	margin: 8%;
}
.end-row {
	clear: both;
}

.article {
	 clear: both;
}

.about {
	padding : 0 50px;
}

.aboutcontent {
	padding-bottom: 70px;
}

#deforestation-article {
	padding-left: 50px;
	padding-top: 50px;
}

#deforestation-article img{
	float: left;
	padding-right: 50px;
}
		
footer {
clear :both;
background-color : #f9f9f9;
letter-spacing : 10px;
color : green;
padding: 10px;
text-align: center;
}


