* {
margin : 0;
padding : 0;
list-style : none;
text-decoration : none;
}

body {
	background-image: url("../images/background/environment.jpg");
	background-size: cover;
	width: 100%;
}

.banner p{
	font-size : 35px;
	padding : 0px 250px;
	font-family: "Calibri";
	font-weight: bold;
	text-align: center;
	color : #001a00;
}

.banner cite{
	font-size : 38px;
}

h1 {
	font-size : 30px;
	font-family: "Arial Black";
	padding: 15px 0;
}

h2 {
	font-size : 28px;
	font-family: "Arial Black";
	padding: 10px 0;
	color : black;
}

.content-climatechange h2 {
	text-align: left;
}

h3 {
	font-size : 26px;
	font-family: "Century Gothic";
	color: #022d04;
}

h4 {
	font-size : 24px;
}

p, ul, li, input, textarea{
	font-size : 22px;
	font-family: "Calibri";
	padding-right : 10%;
	text-align: justify;
	color :  #2f3e0f;
}

strong {
	color : #004d00;
	

}

.container{
	float:left;
	padding-top: 10vh;
	border:none;
}
.content-buttom{
	margin-left: 200px;
	background-color:#a0d8a6;
	width:850px;
	border:none;
	float: left;
	box-sizing: border-box;
	margin-bottom: 100px;
	padding : 10px;

	
}

fieldset {
    border: 0;
    width: 100%;
}

#submitbuttonindex button{
	font-family: "Century Gothic";
	font-size:20;
	width: 10%;
	background-color: #44c141;
	color:white;
	font-size:24px;
	padding: 5px;
	margin : 0 45%;
	
}

.noaccount, .joinnow{	
	border-radius: 20px;
	width:100%;
	line-height: 25px;
    border-style: solid;
    border-width: 1px;
   	border-color: green;
	background-color:#a0d8a6;
	float: left;
	box-sizing: border-box;
	margin-bottom: 100px;
	padding : 10px;
	margin-right: 10%;
	text-align: center;
	
}
.noaccount{
	margin-right: 10px;
	margin-left: 10px;
	width: 100px;
}
.joinnow{
	margin-left: 50px;
}


button{
	font-family: "Century Gothic";
	font-size:20;
	width: auto;
	background-color: #44c141;
	color:white;
	font-size:24px;
	padding: 5px;
	margin: 5px;
	
}

.sendmsgtitle{
	color: black;
}

textarea {
	font-family: Calibri;
    width: 90%;
    height: 150px;
    line-height: 150%;
    resize:vertical;
}
figure, figcaption{
	font-family: "Century Gothic";
}


