@font-face {
    font-family: myFirstFont;
    src: url(sansation_light.woff);
}

* {
margin : 0;
padding : 0;
list-style : none;
text-decoration : none;
}

body {
	background-size: cover;
	width: 100%;
	background: linear-gradient(to bottom right, #dcdcdc, white);
}

.banner p{
	font-size : 20px;
	padding : 0px 180px;
	font-family: "Georgia";
	font-weight: bold;
	text-align: center;
	color : #ccffcc;

}

.banner:hover {
	    box-shadow: 20px 15px 15px #888888;
}



.banner cite{
	font-size : 25px;
}

/* unvisited link */
a:link {
    color: #ffd9b3;
}

/* visited link */
a:visited {
    color: #ffd9b3;
}

/* mouse over link */
a:hover {
    color: lightgreen;
}

/* selected link */
a:active {
    color: #00b386;
}

h1 {
	font-size : 30px;
	font-family: "Impact";
	padding: 15px 0;
	color: #267326;
	text-shadow: -2px -2px 1px rgb(255,255,255) , -1px -1px 1px rgb(255,255,255) , 1px 1px 1px rgba(232,247,255,0.901961) , 1px 1px 0 rgb(42,101,139) , 2px 2px 0 rgb(41,99,138) , 3px 3px 0 rgb(40,97,136) , 4px 4px 0 rgb(39,95,133) , 5px 5px 0 rgb(38,93,131) , 6px 6px 0 rgb(37,90,128) , 7px 7px 0 rgb(36,87,125) , 8px 8px 0 rgb(35,84,121) , 9px 9px 0 rgb(33,80,117) , 10px 10px 0 rgb(31,76,113) , 11px 11px 0 rgb(30,72,108) , 12px 12px 1px rgba(28,67,103,0.498039) , 14px 14px 12px rgba(5,13,20,0.498039);
}

h2 {
	font-size : 28px;
	font-family: "Bebas";
	padding: 10px 0;
	color : #1a1a00;
	clear: both;
}
.content-globalwarming h2, .content-index h2 {
	font-size: 50px;
	color: #1a1a00;
	font-weight: bold;
}
.content-index h2{
text-align: left;
}

.content-globalwarming h2{
text-align: center;
}

.content-climatechange h2 {
	text-align: left;
}
.content-gallery {
	margin-left: 30px;
}
h3 {
	font-size : 26px;
	font-family: "Georgia";
	color: #022d04;
}

.content-index h3 {
	font-size: 35px;
}

.content-index li {
	height : 200px;
	margin-bottom: 50px;
}

.content-index ul li{
	font-size: 25px;
}


h4 {
	font-size : 24px;
}

p, ul, li, input, textarea{
	font-size : 22px;
	font-family: "Afta Sans";
	padding-right : 10%;
	text-align: justify;
	color :  #2f3e0f;
}

 .content-index p, .content-globalwarming ul{
	background-color:  #92CD00;
	padding: 34px;
	margin-bottom: 50px;
	color :  #2C6700;
	box-shadow: 10px 10px 5px #888888;
}

.right p {
	background-color:  #92CD00;
	padding: 34px;
	margin-bottom: 50px;
	color :  #2C6700;
	box-shadow: 10px 10px 5px #888888;
}

.right h3 {
	text-align: center;
}

.right img {
	float: left;
}


.globalwarming p {
	padding-bottom: 50px;
}

.globalwarming h1 {
	padding-bottom: 25px;
}


strong {
	color : #004d00;	

}

.container{
	float:left;
	padding-top: 10vh;
	border:none;
	width:70%;
	box-shadow: 10px 10px 5px #888888;
}
.content-buttom{
	border-radius: 20px;
	margin-left: 300px;
	background-color:#39ac39;
	width:850px;
	border:none;
	float: left;
	box-sizing: border-box;
	margin-top: 20px;
	margin-bottom: 100px;
	padding : 10px;
	box-shadow: 10px 10px 5px #888888;

}

.container {
	box-shadow: 10px;
}
fieldset {
    border: 0;
    width: 100%;
}

#submitbuttonindex button{
	font-family: "Georgia";
	font-size:20;
	width: 10%;
	background-color: #44c141;
	color:white;
	font-size:24px;
	padding: 5px;
	margin : 0 45%;
	
}

.noaccount, .joinnow{	
	border-radius: 20px;
	width:100%;
	line-height: 25px;
    border-style: solid;
    border-width: 1px;
   	border-color: green;
	background-color:#39ac39;
	float: left;
	box-sizing: border-box;
	margin-bottom: 100px;
	padding : 10px;
	margin-right: 10%;
	text-align: center;
	box-shadow: 10px 10px 5px #888888;
	
}
.noaccount{
	margin-right: 0px; 
	margin-left: 10px;
	width: 100px;
}
.joinnow{
	margin-left: 40px;
}


button{
	font-family: "Georgia";
	font-size:20;
	width: auto;
	background-color: #44c141;
	color:white;
	font-size:24px;
	padding: 5px;
	margin: 5px;
	
}

.sendmsgtitle{
	color: black;
}

textarea {
	font-family: "Calibri";
    width: 90%;
    height: 150px;
    line-height: 150%;
    resize:vertical;
}
figure, figcaption{
	font-family: "Georgia";
}
figcaption {
	font-size: 1em;
	line-height: .90em;
}
#nameismael{
	text-shadow: 0 1px 0 rgb(128,141,147) , -1px 0 0 rgb(205,210,213) , -1px 2px 0 rgb(128,141,147) , -2px 1px 0 rgb(205,210,213) , -2px 3px 0 rgb(128,141,147) , -3px 2px 0 rgb(205,210,213) , -3px 4px 0 rgb(128,141,147) , -4px 3px 0 rgb(205,210,213) , -4px 5px 0 rgb(128,141,147) , -5px 4px 0 rgb(205,210,213) , -5px 6px 0 rgb(128,141,147) , -6px 5px 0 rgb(205,210,213) , -6px 7px 0 rgb(128,141,147) , -7px 6px 0 rgb(205,210,213) , -7px 8px 0 rgb(128,141,147) , -8px 7px 0 rgb(205,210,213);
}
#namefranchesca{
	text-shadow: 0 1px 0 rgb(128,141,147) , -1px 0 0 rgb(205,210,213) , -1px 2px 0 rgb(128,141,147) , -2px 1px 0 rgb(205,210,213) , -2px 3px 0 rgb(128,141,147) , -3px 2px 0 rgb(205,210,213) , -3px 4px 0 rgb(128,141,147) , -4px 3px 0 rgb(205,210,213) , -4px 5px 0 rgb(128,141,147) , -5px 4px 0 rgb(205,210,213) , -5px 6px 0 rgb(128,141,147) , -6px 5px 0 rgb(205,210,213) , -6px 7px 0 rgb(128,141,147) , -7px 6px 0 rgb(205,210,213) , -7px 8px 0 rgb(128,141,147) , -8px 7px 0 rgb(205,210,213);
}
#namemarinelle{
	text-shadow: 0 1px 0 rgb(128,141,147) , -1px 0 0 rgb(205,210,213) , -1px 2px 0 rgb(128,141,147) , -2px 1px 0 rgb(205,210,213) , -2px 3px 0 rgb(128,141,147) , -3px 2px 0 rgb(205,210,213) , -3px 4px 0 rgb(128,141,147) , -4px 3px 0 rgb(205,210,213) , -4px 5px 0 rgb(128,141,147) , -5px 4px 0 rgb(205,210,213) , -5px 6px 0 rgb(128,141,147) , -6px 5px 0 rgb(205,210,213) , -6px 7px 0 rgb(128,141,147) , -7px 6px 0 rgb(205,210,213) , -7px 8px 0 rgb(128,141,147) , -8px 7px 0 rgb(205,210,213);
}
#namemaria{
	text-shadow: 0 1px 0 rgb(128,141,147) , -1px 0 0 rgb(205,210,213) , -1px 2px 0 rgb(128,141,147) , -2px 1px 0 rgb(205,210,213) , -2px 3px 0 rgb(128,141,147) , -3px 2px 0 rgb(205,210,213) , -3px 4px 0 rgb(128,141,147) , -4px 3px 0 rgb(205,210,213) , -4px 5px 0 rgb(128,141,147) , -5px 4px 0 rgb(205,210,213) , -5px 6px 0 rgb(128,141,147) , -6px 5px 0 rgb(205,210,213) , -6px 7px 0 rgb(128,141,147) , -7px 6px 0 rgb(205,210,213) , -7px 8px 0 rgb(128,141,147) , -8px 7px 0 rgb(205,210,213);
}
#namecrizza{
	text-shadow: 0 1px 0 rgb(128,141,147) , -1px 0 0 rgb(205,210,213) , -1px 2px 0 rgb(128,141,147) , -2px 1px 0 rgb(205,210,213) , -2px 3px 0 rgb(128,141,147) , -3px 2px 0 rgb(205,210,213) , -3px 4px 0 rgb(128,141,147) , -4px 3px 0 rgb(205,210,213) , -4px 5px 0 rgb(128,141,147) , -5px 4px 0 rgb(205,210,213) , -5px 6px 0 rgb(128,141,147) , -6px 5px 0 rgb(205,210,213) , -6px 7px 0 rgb(128,141,147) , -7px 6px 0 rgb(205,210,213) , -7px 8px 0 rgb(128,141,147) , -8px 7px 0 rgb(205,210,213);
}
#sendmsgtitle{
	font-family: "Impact";
	color: #267326;
	text-shadow: -2px -2px 1px rgb(255,255,255) , -1px -1px 1px rgb(255,255,255) , 1px 1px 1px rgba(232,247,255,0.901961) , 1px 1px 0 rgb(42,101,139) , 2px 2px 0 rgb(41,99,138) , 3px 3px 0 rgb(40,97,136) , 4px 4px 0 rgb(39,95,133) , 5px 5px 0 rgb(38,93,131) , 6px 6px 0 rgb(37,90,128) , 7px 7px 0 rgb(36,87,125) , 8px 8px 0 rgb(35,84,121) , 9px 9px 0 rgb(33,80,117) , 10px 10px 0 rgb(31,76,113) , 11px 11px 0 rgb(30,72,108) , 12px 12px 1px rgba(28,67,103,0.498039) , 14px 14px 12px rgba(5,13,20,0.498039);
}
