@font-face {
    font-family: 'SansationLight';
    src: url('./SansationLight.eot');
    src: local('SansationLight'), url('./SansationLight.woff') format('woff'), url('./SansationLight.ttf') format('truetype');
}

nav {
position : fixed;
z-index: 10;
}

nav li a,
.dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

}

nav li a:hover,
.dropdown:hover .dropbtn {
    background-color: lightgreen;
    color : black;
}

nav li.dropdown {
    display: inline-block;
}

nav .dropdown-content {
    display: none;
    position: fixed;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 10;
}

nav .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

nav .dropdown-content a:hover {
    background-color: lightgreen;
}

nav .dropdown:hover .dropdown-content {
    display: block;
}

nav ul.nav {
    height: 45px;
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    background-color:  #0d0d0d;
    margin-top:20px;
}
    
.nav li {
    letter-spacing: 2px;
    padding-right :35px;
    font-size: 15px;
    float: right;
    text-transform: uppercase;
    font-weight: bold;
}
    
    
.nav li a {
        display: block;
        color: rgb(0, 204, 102);
        text-align: center;
        text-decoration: none;
}

.nav li:last-child {
    float: left;
    background-color: #A9D18E;
}
    
.nav li a:hover {
    background-color: lightgreen;
    color : black;
}

nav ul.nav-fixed {
    position: fixed;
    top: 0;
    width: 100%;
} 

.logo {
    padding: 0px;
    height :50px;
}