.banner {
background-size : cover;
background-repeat : no-repeat;
text-align : center;
background-attachment: fixed;
top : 50px;
height : 350px;
padding-top : 175px;
}

.index, .gallery, .articles, .joinusnow {
	background-image: url("../images/background/enviprotection.jpg");
}

.pollutions {
	background-image: url("../images/background/pollution.png");
}

.climatechange {
	background-image: url("../images/background/climatechange.png");
}

.deforestations {
	background-image: url("../images/background/deforestation.jpg");
}

.dglobalwarming {
	background-image: url("../images/background/globalwarming.jpg");
}

.about {
	background-image: url("../images/background/environment.jpg");
}

.logo {
	padding-right: 250px;
}

.main-container {
	background-color: #f5faea;

}

.protect, .promote {
	float: left;
	padding-top: 20px;
}

.educate {
	float: right;
	padding-top: 35px;
}

.content-top {
	margin: 50px;
}

.content-top h1{
	text-align: center;
}

.container {
    padding: 50px 50px;
    line-height: 1.2;
}

.left, .right {
    width: 50%;
    float: left;
}

.firstbatch {
	column-count: 3;
}

.secondbatch {
	column-count: 2;
}

.gallery1, .gallery2, .gallery3 {
	column-count: 3;
}

.pictures {
	height : 350px;
	width : 400px;
	margin-bottom: 50px;
	text-align: center;
}

.content-gallery h3 {
	width : 100%;
	margin-top: 20px;
	margin-bottom: 50px;
	background-color: green;
	color: white;
	text-align: center;
	padding: 5px 0;
}

.gallery-top * {
	text-align: center;
}

#galleryheader2 {
	padding-top: 50px;
}

footer {
	font-weight: bold;
	letter-spacing: 5px;
	text-align: center;
	padding : 5px 0;
}
.aboutcontent {
	float: left;
	width: 33%;
		
}
		


