.banner {
background-size : cover;
background-repeat : no-repeat;
text-align : center;
background-attachment: fixed;
top : 50px;
height : 450px;
padding-top : 300px;
}

.index {
	background-image: url("../images/background/9.png");
}

.gallery {
	background-image: url("../images/background/1.png");
}

.articles {
	background-image: url("../images/background/2.png");
}

.joinusnow {
	background-image: url("../images/background/3.png");
}

.pollutions {
	background-image: url("../images/background/7.png");
}

.climatechange {
	background-image: url("../images/background/4.png");
}

.deforestations {
	background-image: url("../images/background/5.png");
}

.dglobalwarming {
	background-image: url("../images/background/6.png");
}

.aboutbanner {
	background-image: url("../images/background/8.png");
}

.logo {
	padding-right: 250px;
}

.main-container {
	padding: 0 50px;
	height : auto;
}

.protect, .promote {
	float: left;
	padding-top: 20px;
}

.educate {
	float: right;
	padding-top: 35px;
}
.content-top {
	clear :both;
	padding :50px 50px 0 50px;
}

.content-top h1{
	text-align: center;
}

.container {
    padding: 50px 50px;
    line-height: 1.2;
}

.left, .right {
    width: 50%;
    float: left;
}

.firstbatch {
	column-count: 3;
}

.secondbatch {
	column-count: 2;
}

.gallery1, .gallery2, .gallery3 {
	column-count: 3;
}

.pictures {
	height : 350px;
	width : 400px;
	margin-bottom: 50px;
	text-align: center;
}

.content-gallery h3 {
	width : 100%;
	margin-top: 20px;
	margin-bottom: 50px;
	background-color: green;
	color: white;
	text-align: center;
	padding: 5px 0;
}

.gallery-top * {
	text-align: center;
}

#galleryheader2 {
	padding-top: 50px;
}

.content-top h1, h2{
	text-align: center;
}

.content-top p {
	text-align: justify;
}

.main-container img {
	float : left;
	padding: 0 50px 50px 0;

}

.aboutcontent {
	float: left;
	width: 33%;
}

.start-last-row {
	float: left; 
	margin: 8%;
}
.end-row {
	clear: both;
}

.article {
	 clear: both;
}
		
footer {
clear :both;
background-color : #f9f9f9;
letter-spacing : 10px;
color : green;
padding: 10px;
text-align: center;
}


