.banner {
background-image: url("../images/background/pollution.jpg");
background-size : cover;
background-repeat : no-repeat;
text-align : center;
background-attachment: fixed;
top : 50px;
height : 300px;
padding-top : 200px;
}

.logo {
	padding-right: 250px;
}

.content-top {
	margin: 50px;
}

.content-top h1{
	text-align: center;
}

.container {
    height: 500px;
    padding: 50px 50px;
    line-height: 1.2;

}

.left, .right {
    width: 50%;
    float: left;
}

.gallery1, .gallery2, .gallery3{
	margin: 2%;
	border: 1px solid #ccc;
	width: 1500px;
	float: left;

}

.first, .second, .third {
	float : left;
}

.gallery1, .gallery2, .gallery3:hover {
	border: 1px solid #777;
}

.gallery1, .gallery2, .gallery3 pictures{
	
	width: 100%;
	height: auto;
}

figcaption{
	padding: 15px;
	text-align: center;
}
