* {
margin : 0;
padding : 0;
list-style : none;
text-decoration : none;
}

.banner p{
	font-size : 35px;
	padding : 0px 150px;
	font-family: "Calibri";
	font-weight: bold;
	text-align: center;
	color : #001a00;
}

.banner cite{
	font-size : 28px;
}

h1 {
	font-size : 30px;
	font-family: "Arial Black";
	padding: 15px 0;
}

h2 {
	font-size : 28px;
	font-family: "Arial Black";
	padding: 10px 0;
	color : green;
}

h3 {
	font-size : 26px;
	font-family: "Century Gothic";
}

h4 {
	font-size : 24px;
}

p, ul, li, input, textarea{
	font-size : 22px;
	font-family: "Calibri";
	padding-right : 10%;
	text-align: justify;
	color :  #2f3e0f;
}

strong {
	color : #004d00;
	

}

button{
	font-family: "Century Gothic";
	font-size:20;
	float:left;
	width: 100%;
	background-color: #44c141;
	color:white;
	font-size:24px;
	padding-top:22px;
	padding-bottom:22px;
	font-weight:700;
}
.noaccount{
	background-color:gray;
	padding-left:35px;
	padding-right:35px;
	padding-top:35px;
	padding-bottom:50px;
	width: 450px;
	float: left;
	left: 0%;
	position: right;
	margin-top:70px;
	margin-left: 300px;
	box-sizing: border-box;
	margin-bottom: 10px;
}

.joinnow{
	background-color:gray;
	padding-left:35px;
	padding-right:35px;
	padding-top:35px;
	padding-bottom:50px;
	width: 450px;
	float: left;
	left: 50%;
	position: bottom;
	margin-top:70px;
	margin-left: 300px;
	box-sizing: border-box;
	margin-bottom: 10px;
}
.container{
	width:100%;
	float:left;
	padding-top: 10vh;
}
.content-buttom{
	background-color:gray;
	padding-left:35px;
	padding-right:35px;
	padding-top:35px;
	padding-bottom:50px;
	width: 450px;
	float: left;
	left: 50%;
	position: bottom;
	margin-top:70px;
	margin-left: 450px;
	box-sizing: border-box;
	margin-bottom: 10px;
	
}

textarea {
	font-family: Calibri;
    width: 90%;
    height: 150px;
    line-height: 150%;
    resize:vertical;
}

