* {
margin : 0;
padding : 0;
list-style : none;
text-decoration : none;
}

.banner p{
	font-size : 35px;
	padding : 0px 150px;
}

.banner cite{
	font-size : 28px;
}

h1 {
	font-size : 30px;
}

h2 {
	font-size : 28px;
}

h3 {
	font-size : 26px;
}

h4 {
	font-size : 24px;
}

p, ul, li {
	font-size : 22px;
}

.container ul, li {
	 list-style-type: circle;
}

strong {

}