* {
margin : 0;
padding : 0;
list-style : none;
text-decoration : none;
}

.banner p{
	font-size : 35px;
	padding : 0px 150px;
	font-family: "Calibri";
	font-weight: bold;
}

.banner cite{
	font-size : 28px;
}

h1 {
	font-size : 30px;
	font-family: "Arial Black";
	padding: 15px 0;
}

h2 {
	font-size : 28px;
	font-family: "Arial Black";
	padding: 10px 0;
}

h3 {
	font-size : 26px;
	font-family: "Century Gothic";
}

h4 {
	font-size : 24px;
}

p, ul, li, input, textarea{
	font-size : 22px;
	font-family: "Calibri";
	padding-right : 10%;
	text-align: justify;
}

.container ul, li {
	 list-style-type: circle;
}

strong {
	

}
button{
	font-family: "Century Gothic";
	font-size:20;
	float:left;
	width: 100%;
	background-color: #44c141;
	color:white;
	font-size:24px;
	padding-top:22px;
	padding-bottom:22px;
	font-weight:700;
}
.noaccount{
	background-color:gray;
	padding-left:35px;
	padding-right:35px;
	padding-top:15px;
	padding-bottom:50px;
	width: 450px;
	float: right;
	right: 50%;
	position: absolute;
  	margin-top:30px;
	margin-left: -260px;
}

.joinform{
	background-color:gray;
	padding-left:35px;
	padding-right:35px;
	padding-top:15px;
	padding-bottom:50px;
	width: 450px;
	float: left;
	left: 50%;
	position: absolute;
  	margin-top:30px;
	margin-left: -260px;
}